[Unit]
Description=Ajoumaker Backend Server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/home/luftaquila/ajoumaker/server
ExecStart=/usr/bin/node /home/luftaquila/ajoumaker/server/index.js
Restart=always

[Install]
WantedBy=multi-user.target
